# Dependencies
/node_modules

# Build & Output
/.next/
/out/

# Environment & Secrets
.env*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
.pnpm-debug.log*

# Deployment
.vercel

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
